@{
    ViewBag.Title = "Home Page";
}


<body id="page-top">
    <!-- Navigation -->
    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Choc<bold>O</bold>vation</h1>
                        <p class="intro-text">
                            The Chocolate Factory ERP covering your every need
                            <br>Like Mr. Wonka at his finest
                        </p>
                        <a href="#about" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About ChocOvation</h2>
                    <p>
                        ChocOvation is an ERP customized for covering every need of a chocolate factory. From Employee to Supplier management. From Factory to Store. From Cocoa Bean to a bar of Chocolate.
                    </p>
                    <p>
                        This software was created by
                        <a href="https://www.linkedin.com/in/antonia-pavlopoulou-931110164/">Antonia Pavlopoulou</a>
                        and
                        <a href="https://www.linkedin.com/in/georgios-satravelas-2ab23183/">Giorgos Satravelas</a> with a whole lottah chocolate love.
                    </p>
                    <p>ChocOvation is a .NET project that includes full HTML, CSS, and custom JavaScript and was built with MVC 5</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h2>Download ChocOvation</h2>
                <p>You can download ChocOvation by contacting us below.</p>
                <a href="mailto:satravelas@gmail.com" class="btn btn-default btn-lg">Show your interest!</a>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Check our social</h2>
                    <p>
                        Feel free to leave us a comment on the
                        <a href="https://www.facebook.com/">ChocOvation Facebook page</a>
                        to give some feedback about this software!
                    </p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/" class="btn btn-default btn-lg">
                                <i class="fa fa-twitter fa-fw"></i>
                                <span class="network-name">Twitter</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/" class="btn btn-default btn-lg">
                                <i class="fa fa-github fa-fw"></i>
                                <span class="network-name">Github</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://plus.google.com/" class="btn btn-default btn-lg">
                                <i class="fa fa-google-plus fa-fw"></i>
                                <span class="network-name">Google+</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Map Section -->

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6289.896973347723!2d23.73110305783691!3d37.97833147745247!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x59f0c81708e88bf!2zzqPPhM6_zqwgzqDOtc-DzrzOsc62z4zOs867zr_PhQ!5e0!3m2!1sel!2sgr!4v1526423986654" width="1900" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; ChocOvation 2018</p>
        </div>
    </footer>
    @*<!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
    <!-- Custom scripts for this template -->
    <script src="~/js/grayscale.min.js"></script>*@
</body>
