
@{
    ViewBag.Title = "Receipt";
}


<div style="padding-left:100px; padding-top: 100px" >
    <p style=" font-size: 20px">
        Your receipt is being printed!
    </p>
</div>

<div>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.BarCode }) |*@
    @Html.ActionLink("Back to List", "ProductsToBeSold")
</div>
